*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerhome{
    align-items: center;
    height: 50px;
    justify-content: space-around;
    display: flex;
    background-color: orange;
    width: 100%;
    
}

ul{
    display: flex;
    list-style: none;
}
.nav ul li a{
    margin: 0 25px;
    text-decoration: none;
    color: white;
}
.nav ul li a:hover{
    text-decoration: underline;
}
img{
    width: 80px;
    height: 30px;
}
